Repository corda/corda-utxo-ledger-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corda/ledger, @corda/blt, @corda/corda5-team-leads

.github/CODEOWNERS:

* @corda/ledger
*.gradle           @corda/blt
gradle.properties  @corda/corda5-team-leads
Jenkinsfile        @corda/blt
.ci/*              @corda/blt
gradle/*           @corda/blt

CORE-11136: release prep for release-0.9.0-HC02
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-11136: release prep for release-0.9.0-HC04
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-15149: Jenkins pipeline to 5.0
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
  Jenkinsfile
Owners: @corda/ledger, @corda/blt

CORE-15149: Jenkins pipeline to 5.0 (#50)
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
  Jenkinsfile
Owners: @corda/ledger, @corda/blt

CORE-15149: identifiable tests refactoring
  identifiable/build.gradle
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractCreateCommandTests.kt
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractDeleteCommandTests.kt
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: refactor maven repository settings in build.gradle
  build.gradle
Owners: @corda/blt

CORE-15149: add corda-dependencies maven
  build.gradle
Owners: @corda/blt

CORE-15149: base tests refactoring
  base/build.gradle
  base/src/test/kotlin/com/r3/corda/ledger/utxo/base/DelegatedContractTests.kt
  base/src/test/kotlin/com/r3/corda/ledger/utxo/base/ExampleSealedDelegatedContractTests.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: remove old module and add new testing module
  base/build.gradle
  build.gradle
  chainable/build.gradle
  fungible/build.gradle
  identifiable/build.gradle
  issuable/build.gradle
  ownable/build.gradle
  settings.gradle
  testing/build.gradle
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/ContractTest.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/ContractTestUtils.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/EncumbranceGroupImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/StateAndRefImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/TimeWindowBetweenImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/TimeWindowUntilImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/TransactionBuilderState.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/TransactionStateImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoLedgerTransactionImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoTransactionBuilder.java
  testing/src/main/kotlin/com/r3/corda/ledger/utxo/testing/Functions.kt
  testing/src/main/kotlin/com/r3/corda/ledger/utxo/testing/TransactionBuilderDsl.kt
  testing/src/main/kotlin/com/r3/corda/ledger/utxo/testing/TransactionBuilderDslMarker.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: add cordaContactTestingVersion to gradle.properties
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-15149: fungible tests refactoring
  fungible/build.gradle
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractCreateCommandTests.kt
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractDeleteCommandTests.kt
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractUpdateCommandTests.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: remove unnecessarily added command
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractCreateCommandTests.kt
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractDeleteCommandTests.kt
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractUpdateCommandTests.kt
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractDeleteCommandTests.kt
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractUpdateCommandTests.kt
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractDeleteCommandTests.kt
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
  ownable/src/test/kotlin/com/r3/corda/ledger/utxo/ownable/ExampleOwnableContractTransferCommandTests.kt
Owners: @corda/ledger

CORE-15149: ownable tests refactoring
  ownable/build.gradle
  ownable/src/test/kotlin/com/r3/corda/ledger/utxo/ownable/ExampleOwnableContractTransferCommandTests.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: issuable tests refactoring
  issuable/build.gradle
  issuable/src/test/kotlin/com/r3/corda/ledger/utxo/issuable/ExampleIssuableContractCreateCommandTests.kt
  issuable/src/test/kotlin/com/r3/corda/ledger/utxo/issuable/ExampleIssuableContractDeleteCommandTests.kt
Owners: @corda/blt, @corda/ledger

CORE-15149: remove unused import and var
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractCreateCommandTests.kt
  fungible/src/test/kotlin/com/r3/corda/ledger/utxo/fungible/FungibleContractUpdateCommandTests.kt
  issuable/src/test/kotlin/com/r3/corda/ledger/utxo/issuable/ExampleIssuableContractCreateCommandTests.kt
  issuable/src/test/kotlin/com/r3/corda/ledger/utxo/issuable/ExampleIssuableContractDeleteCommandTests.kt
Owners: @corda/ledger

CORE-15149: keep Permitted as a class
  base/src/test/kotlin/com/r3/corda/ledger/utxo/base/ExampleSealedDelegatedContractTests.kt
Owners: @corda/ledger

CORE-15149: chainable tests refactoring
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractCreateCommandTests.kt
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractDeleteCommandTests.kt
  chainable/src/test/kotlin/com/r3/corda/ledger/utxo/chainable/ExampleChainableContractUpdateCommandTests.kt
Owners: @corda/ledger

CORE-15149: jenkins pipeline not to pull 5.1 helm charg
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

CORE-15149: remove helm version from jenkins pipeline
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

Revert "CORE-15149: remove helm version from jenkins pipeline"
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

Revert "CORE-15149: jenkins pipeline not to pull 5.1 helm charg"
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

CORE-15149: change to assertVerifies
  base/src/test/kotlin/com/r3/corda/ledger/utxo/base/DelegatedContractTests.kt
Owners: @corda/ledger

Revert "CORE-15149: change to assertVerifies"
  base/src/test/kotlin/com/r3/corda/ledger/utxo/base/DelegatedContractTests.kt
Owners: @corda/ledger

Create remove-stale-branches.yml
  .github/workflows/remove-stale-branches.yml
Owners: @corda/ledger

Create remove-stale-branches.yml (#51)
  .github/workflows/remove-stale-branches.yml
Owners: @corda/ledger

Create remove-stale-prs.yml
  .github/workflows/remove-stale-prs.yml
Owners: @corda/ledger

Create remove-stale-prs GitHub Action (#52)
  .github/workflows/remove-stale-prs.yml
Owners: @corda/ledger

Update remove-stale-branches.yml
  .github/workflows/remove-stale-branches.yml
Owners: @corda/ledger

Update remove-stale-prs.yml
  .github/workflows/remove-stale-prs.yml
Owners: @corda/ledger

ES-1486 Roll out and activation on all C5 repos (#53)
  .github/workflows/remove-stale-branches.yml
  .github/workflows/remove-stale-prs.yml
Owners: @corda/ledger

CORE-17403 Handle stable vault-named query changes
  build.gradle
  buildSrc/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-chainable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-fungible-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/src/main/kotlin/com/r3/corda/test/utxo/issuable/workflow/IssuableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/src/main/kotlin/com/r3/corda/test/utxo/issuable/workflow/WellKnownIssuableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/src/main/kotlin/com/r3/corda/test/utxo/ownable/workflow/OwnableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/src/main/kotlin/com/r3/corda/test/utxo/ownable/workflow/WellKnownOwnableStateQueryFlow.kt
  examples/ledger-utxo-advanced-chainable-demo-app/build.gradle
  examples/ledger-utxo-advanced-fungible-demo-app/build.gradle
  examples/ledger-utxo-advanced-fungible-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/fungible/workflow/UtxoLedgerServiceExtensions.kt
  examples/ledger-utxo-advanced-identifiable-demo-app/build.gradle
  examples/ledger-utxo-advanced-identifiable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/identifiable/workflow/delete/DeleteSupportTicketRequest.kt
  examples/ledger-utxo-advanced-identifiable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/identifiable/workflow/update/UpdateSupportTicketRequest.kt
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiablePointer.java
Owners: @corda/blt, @corda/ledger

CORE-17403 Build against 5.1
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-17403 Build against 5.1
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-17403 Fixes against 5.1
  build.gradle
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/ChainableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/FungibleTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IssuableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/OwnableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
  examples/ledger-utxo-advanced-chainable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/chainable/workflow/transfer/TransferVehicleRequest.kt
  gradle.properties
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoLedgerTransactionImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoTransactionBuilder.java
  testing/src/main/kotlin/com/r3/corda/ledger/utxo/testing/TransactionBuilderDsl.kt
Owners: @corda/blt, @corda/ledger, @corda/corda5-team-leads

Add flag to build against java 17
  Jenkinsfile
Owners: @corda/blt

Add flag to build against java 17
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

Run against 5.1 cluster
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

Run against 5.1 cluster
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

Use 5.1 jenkins lib
  .ci/e2e/JenkinsfileE2E
  Jenkinsfile
Owners: @corda/ledger, @corda/blt

include jackson yaml
  e2e-tests/build.gradle
Owners: @corda/blt
