Repository corda/corda-utxo-ledger-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corda/ledger, @corda/blt, @corda/corda5-team-leads

.github/CODEOWNERS:

* @corda/ledger
*.gradle           @corda/blt
gradle.properties  @corda/corda5-team-leads
Jenkinsfile        @corda/blt
.ci/*              @corda/blt
gradle/*           @corda/blt

Jenkinsfile to 5.1
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
  Jenkinsfile
Owners: @corda/ledger, @corda/blt

Try different notary X500 names
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
Owners: @corda/ledger

Use notary service X500 names
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
Owners: @corda/ledger

CORE-18750 Handle stable vault-named query changes (#54)
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
  Jenkinsfile
  build.gradle
  buildSrc/build.gradle
  e2e-tests/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-chainable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-fungible-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/src/main/kotlin/com/r3/corda/test/utxo/issuable/workflow/IssuableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-issuable-test-app/src/main/kotlin/com/r3/corda/test/utxo/issuable/workflow/WellKnownIssuableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/build.gradle
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/src/main/kotlin/com/r3/corda/test/utxo/ownable/workflow/OwnableStateQueryFlow.kt
  e2e-tests/cpbs/ledger-utxo-advanced-ownable-test-app/src/main/kotlin/com/r3/corda/test/utxo/ownable/workflow/WellKnownOwnableStateQueryFlow.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/ChainableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/FungibleTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IssuableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/OwnableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
  examples/ledger-utxo-advanced-chainable-demo-app/build.gradle
  examples/ledger-utxo-advanced-chainable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/chainable/workflow/transfer/TransferVehicleRequest.kt
  examples/ledger-utxo-advanced-fungible-demo-app/build.gradle
  examples/ledger-utxo-advanced-fungible-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/fungible/workflow/UtxoLedgerServiceExtensions.kt
  examples/ledger-utxo-advanced-identifiable-demo-app/build.gradle
  examples/ledger-utxo-advanced-identifiable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/identifiable/workflow/delete/DeleteSupportTicketRequest.kt
  examples/ledger-utxo-advanced-identifiable-demo-app/src/main/kotlin/com/r3/corda/demo/utxo/identifiable/workflow/update/UpdateSupportTicketRequest.kt
  gradle.properties
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiablePointer.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoLedgerTransactionImpl.java
  testing/src/main/java/com/r3/corda/ledger/utxo/testing/UtxoTransactionBuilder.java
  testing/src/main/kotlin/com/r3/corda/ledger/utxo/testing/TransactionBuilderDsl.kt
Owners: @corda/ledger, @corda/blt, @corda/corda5-team-leads

CORE-13473 Fix bug identifiable state contract constraints allowing multiple outputs with the same ID
  base/src/main/java/com/r3/corda/ledger/utxo/base/Check.java
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/ChainableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/FungibleTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IssuableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/OwnableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
  gradle.properties
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableConstraints.java
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableContractUpdateCommand.java
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/ledger, @corda/corda5-team-leads

Change shared build pipeline to 5.2
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

pipeline
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
Owners: @corda/ledger

pipeline
  .ci/e2e/JenkinsfileE2E
Owners: @corda/ledger

CORE-13473 Fix bug identifiable state contract constraints allowing multiple outputs with the same ID (#55)
  .ci/e2e/JenkinsfileE2E
  .ci/nightly/JenkinsfileSnykScan
  base/src/main/java/com/r3/corda/ledger/utxo/base/Check.java
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/ChainableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/FungibleTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IssuableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/OwnableTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/ChainableDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/FungibleDemoTests.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/demo/IdentifiableDemoTests.kt
  gradle.properties
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableConstraints.java
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableContractUpdateCommand.java
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/ledger, @corda/corda5-team-leads

CORE-14241 Fix the logic in `CONTRACT_RULE_UPDATE_IDENTIFIER_EXCLUSIVITY MISSING_ID`
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableContractUpdateTestFlow.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
Owners: @corda/ledger

Separate constraints for distinct inputs
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableContractUpdateTestFlow.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableConstraints.java
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/ledger

Change constraint messages
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableConstraints.java
Owners: @corda/ledger

Fix e2e test & add new test case
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
Owners: @corda/ledger

Remove test case as it is not testing what we want
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableContractUpdateTestFlow.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
Owners: @corda/ledger

CORE-14241 Fix the logic in `CONTRACT_RULE_UPDATE_IDENTIFIER_EXCLUSIVITY MISSING_ID` (#56)
  e2e-tests/cpbs/ledger-utxo-advanced-identifiable-test-app/src/main/kotlin/com/r3/corda/test/utxo/identifiable/workflow/IdentifiableContractUpdateTestFlow.kt
  e2e-tests/src/e2eTest/kotlin/com/r3/corda/ledger/utxo/e2etest/IdentifiableTests.kt
  identifiable/src/main/java/com/r3/corda/ledger/utxo/identifiable/IdentifiableConstraints.java
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/ledger

Fix tests and compile
  identifiable/src/test/kotlin/com/r3/corda/ledger/utxo/identifiable/ExampleIdentifiableContractUpdateCommandTests.kt
Owners: @corda/ledger
